html,
body {
  height: 100%;
  background-image: url(https://lh3.googleusercontent.com/nqXvaewGAzKKVWEgwkr2byfpGZI-MzxhAanjiw17a0rLuJNFY7iJbt1_2I8XxXVReQyjje4Q7qGHu1AGvphOak_O_Y8a4WMmKAhZh4DG-kGqR3gU1tFXnbz__Khp0JB19tVpy9A-vA6mJBMPQ9bhdPjwIOu4es5kdcu0vrjdWYqfv_gK0SoABlkNL3yTeWZbSLgMTpTzPsJbUQmEZQB4-Ayajzd0M500ZW7e3-M6S_9nTMVmjKBYN2ynPGmV0YOxqwLcclRuaKtgqbGfi98pwwNbDwB-nIhDYFiCG9AmOipRqcjeyD3d9usiQ78VWhODeo7BHHhZQ48T5zCTzIi3AKUzzxUgN2y4O15d_RpkMJz9HEM33cFLVuZHvxwVxu55iiva0LBtYhFLPbzVdnbLcjn0YF9d6YGn2p3YYqPGumAi04PGRvmmC_pEBdy9Ud5aQZbZXiQ961_ng3qM0D1rzHl48iG2mBIUC_V0IXJjQavl04A9UcZiHzebuUZE9eYL_5aLwxcBaoqZoCQAYS0tjTy9-SnyLTb-P1o65NJgQGyO-F3Xr4lCID0lnP0X-p7FqNXPuolMjTOJWYouoGhyyf_XG42i_9i6a3_GPD4PALiOnNrHHArr0iISiyNNHKXOS6PJR1Smw-Qs1XNZxGoTNKxSXytDC4AyQSxLdXNGMSzdO2x_jqhRFTNCfAOZ5w=w1723-h969-no?authuser=0);
  background-size: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */


.whitecontainer{
  background-color: white;
  border-radius: 12px;
  
}

img {
  border-radius: 12px;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

footer {
  height: 40px;
  border-top: 10px solid #b81435;
  
}

.icons {
  margin-top: 20px;
}

a {
  color: whitesmoke;
}

.btn1 {
  background-color: #b81435;
  border-color: #b81435;
}

.submitbtn {
  height: 350px;
}

.text-center {
  color: whitesmoke;
}

.text {
  color: whitesmoke;
}

.t1 {
  color: grey;
}

.form-group {
  color: grey;
}