html,
body {
  height: 100%;
  background-image: url(../Images/background.jpeg);
  background-size: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */


.whitecontainer{
  background-color: white;
  border-radius: 12px;
  
}

img {
  border-radius: 12px;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

footer {
  height: 40px;
  border-top: 10px solid #b81435;
  
}

.icons {
  margin-top: 20px;
}

a {
  color: whitesmoke;
}

.btn1 {
  background-color: #b81435;
  border-color: #b81435;
}

.submitbtn {
  height: 350px;
}

.text-center {
  color: black;
  text-align: center;
}

.text {
  color: black;
}

.t1 {
  color: grey;
}

.form-group {
  color: grey;
}